@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ABC Social';
  font-weight: 200;
  src: url('../fonts/ABCSocial-Light.woff2'), url('../fonts/ABCSocial-Light.woff'), url('../fonts/ABCSocial-Light.ttf');
}

@font-face {
  font-family: 'ABC Social';
  font-weight: 400;
  src: url('../fonts/ABCSocial-Regular.woff2'), url('../fonts/ABCSocial-Regular.woff'),
  url('../fonts/ABCSocial-Regular.ttf');
}

@font-face {
  font-family: 'ABC Social';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/ABCSocial-RegularItalic.woff2'), url('../fonts/ABCSocial-RegularItalic.woff'),
  url('../fonts/ABCSocial-RegularItalic.ttf');
}

@font-face {
  font-family: 'ABC Social';
  font-weight: 500;
  src: url('../fonts/ABCSocial-Medium.woff2'), url('../fonts/ABCSocial-Medium.woff'),
  url('../fonts/ABCSocial-Medium.ttf');
}

@font-face {
  font-family: 'ABC Social';
  font-weight: 700;
  src: url('../fonts/ABCSocial-Bold.woff2'), url('../fonts/ABCSocial-Bold.woff'), url('../fonts/ABCSocial-Bold.ttf');


}@font-face {
font-family: 'ABC Social';
font-weight: 900;
src: url('../fonts/ABCSocial-Black.woff2'), url('../fonts/ABCSocial-Black.woff'), url('../fonts/ABCSocial-Black.ttf');
}


body {
  font-family: 'ABC Social' !important;
}
.absolute-vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .absolute-horizontal-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
   .absolute-bottom {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -0%);
  } 
    .absolute-top {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  @layer components {
     .my-react-select-container {
    } 
     .my-react-select-container .my-react-select__control {
      @apply bg-white  border-2 border-red-10 dark:border-red-10 hover:border-red-5 dark:hover:border-red-10;
    }
  
    .my-react-select-container .my-react-select__control--is-focused {
      @apply border-red-10 bg-red-5 hover:border-red-10 dark:border-red-10 dark:hover:border-red-10 shadow-none;
    }
  
    .my-react-select-container .my-react-select__menu {
      @apply   border-2 border-red-10 dark:border-red-10;
    }
  
    .my-react-select-container .my-react-select__option {
      @apply text-black dark:text-black  hover:bg-red-5  dark:hover:bg-red-5;
    } 
   
  
    .my-react-select-container .my-react-select__indicator-separator {
      @apply bg-red-5;
    }
  
    .my-react-select-container .my-react-select__input-container,
    .my-react-select-container .my-react-select__placeholder,
    .my-react-select-container .my-react-select__single-value {
      @apply text-black dark:text-red-10 dark:border-red-10 dark:active:bg-red-10 ;
    }
  }