@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FK Grotesk Neue Trial';
  font-weight: 200;
  src: url('../fonts/KrossNeueGrotesk-Light.woff2'), url('../fonts/KrossNeueGrotesk-Light.woff'), url('../fonts/KrossNeueGrotesk-Light.ttf');
}

@font-face {
  font-family: 'FK Grotesk Neue Trial';
  font-weight: 400;
  src: url('../fonts/KrossNeueGrotesk-Regular.woff2'), url('../fonts/KrossNeueGrotesk-Regular.woff'),
  url('../fonts/KrossNeueGrotesk-Regular.ttf');
}


@font-face {
  font-family: 'FK Grotesk Neue Trial';
  font-weight: 700;
  src: url('../fonts/KrossNeueGrotesk-Bold.woff2'), url('../fonts/KrossNeueGrotesk-Bold.woff'), url('../fonts/KrossNeueGrotesk-Bold.ttf');
}


body {
  font-family: 'FK Grotesk Neue Trial' !important;
}
.absolute-vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .absolute-horizontal-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
   .absolute-bottom {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -0%);
  } 
    .absolute-top {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  @layer components {
     .my-react-select-container {
    } 
     .my-react-select-container .my-react-select__control {
      @apply bg-white  border-2 border-red-10 dark:border-red-10 hover:border-red-5 dark:hover:border-red-10;
    }
  
    .my-react-select-container .my-react-select__control--is-focused {
      @apply border-red-10 bg-red-5 hover:border-red-10 dark:border-red-10 dark:hover:border-red-10 shadow-none;
    }
  
    .my-react-select-container .my-react-select__menu {
      @apply   border-2 border-red-10 dark:border-red-10;
    }
  
    .my-react-select-container .my-react-select__option {
      @apply text-black dark:text-black  hover:bg-red-5  dark:hover:bg-red-5;
    } 
   
  
    .my-react-select-container .my-react-select__indicator-separator {
      @apply bg-red-5;
    }
  
    .my-react-select-container .my-react-select__input-container,
    .my-react-select-container .my-react-select__placeholder,
    .my-react-select-container .my-react-select__single-value {
      @apply text-black dark:text-red-10 dark:border-red-10 dark:active:bg-red-10 ;
    }
  }